<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Itération in thymeleaf</title>
</head>
<body>
  <table>
    <tr>
      <th>SR. No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Gender</th>
    </tr>
    <tr th:each="user,userStat : ${users}">
        <td th:text="${userStat.count}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.role}"></td>
      <td th:text="${user.gender}"></td>
    </tr>
  </table>
</body>
</html>