<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
  <style>
    label {
        display: inline-block;
        width: 200px;
        text-align: left;
    }

    input[type="text"], input[type="email"], input[type="password"], select {
        display : inline-block;
        width: 200px;
    }

    input[type="radio"] {
        margin-left: 45px;
    }

    input[type=checkbox] {
        margin-right: 45px;
    }

    button {
      padding: 5px;
        margin : 10px;
    }
  </style>
</head>
<body>
  <div align="center">
    <div style="border-style:solid; width: 1000px">
      <h1>User Registration</h1>
      <form th:action="@{/userRegistrationForm/save}"
            method="get"
            role="form"
            th:object="${userForm}">

        <label> Full name: </label>
        <input type="text"
               th:field="*{name}"
               required="required"
               placeholder="Enter your full name"
               class="form-control"
               style="width: 400px"
               />
        <br/>

        <label >Email : </label>
        <input type="email"
               th:field="*{email}"
               required="required"
               placeholder="Enter your email"
               class="form-control"
               style="width: 400px"
               />
        <br/>
        <label>Password : </label>
        <input type="password"
               th:field="*{password}"
               required="required"
               placeholder="Enter your password"
               class="form-control"
               style="width: 400px"
               />
        <br/>
        <label>Gender : </label>
        <input type="radio" th:field="*{gender}" value="Male">
        <input type="radio" th:field="*{gender}" value="Female">
        <br/>

        <label>Profession: </label>
        <select th:field="*{profession}" class="form-control" style="width: 400px">
          <option th:each="profession : ${listProfession}"
                  th:value="${profession}"
                  th:text="${profession}">
          </option>
        </select>
        <br/>

        <label >Address</label>
        <textarea th:field="*{address}"
                  required="required"
                  placeholder="Enter your address"
                  class="form-control"
                  style="width: 400px"
                  >
        </textarea>
        <br/>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>